*{
  font-family: sans-serif;
  list-style: none;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

h1{
  text-align: center;
}

p1{
  color: #f0f2f7;
  font-size:20px;
}
h1{
  color: white;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 60px;
  text-decoration:underline;
}
p::first-letter{
  font-size: 40px;
  font-weight: 500;
  color: red;
}
p{
  color: white;
  letter-spacing: 0.6px;
  font-size: 20px;
}
.para{
  padding-left: 215px;
  width: 1200px;
  text-align: left;
}


hr{
  width:auto;
  height: 0.3px;
  color: rgb(238, 8, 8);
  background-color: rgb(255, 0, 0);
  box-shadow: 2px 2px 2px rgb(244, 241, 241,0.3);
}
h2{
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}




.skills{
  font-size: 20px;
  width: 1480px;
  margin:60px auto;
  color:white;
  
}

.skills li{
  margin:20px 0;
}
.div{
  width:580px;
}
.div .col li h3{
  color:#f0f2f7;
}

.bar{
  background-color: #f0f2f7;
  display: block;
  height:5px;
  border:1px solid rgba(0,0,0,0.3);
  border-radius:3px;
  overflow: hidden;
  
}
.bar span{
  height:5px;
  float: left;
  background-color: red;
}
.html{
  width:70%;
  animation:html 2s;
}

.CSS{
  width:80%;
  animation:CSS 2s;
}
.Javascript{
  width:68%;
  animation:Javascript 2s;
}
.MySQL{
  width:65%;
  animation:MySQL 2s;
}
.Python{
  width:55%;
  animation:Python 2s;
}
.Java{
  width:70%;
  animation:Java 2s;
}
.PHP{
  width:50%;
  animation:PHP 2s;
}


 
@keyframes html{
  0%{
    width:0%;
  }
  100%{
    width:70%;
  }
}
 
@keyframes CSS{
  0%{
    width:0%;
  }
  100%{
    width:80%
  }
} 
@keyframes Javascript{
  0%{
    width:0%;
  }
  100%{
    width:68%
  }
} 
@keyframes ReactJs{
  0%{
    width:0%;
  }
  100%{
    width:70%
  }
} 
@keyframes NodeJs{
  0%{
    width:0%;
  }
  100%{
    width:50%
  }
} 
@keyframes Mongodb{
  0%{
    width:0%;
  }
  100%{
    width:40%
  }
} 
@keyframes MySQL{
  0%{
    width:0%;
  }
  100%{
    width:65%
  }
}
@keyframes C_Cplus{
  0%{
    width:0%;
  }
  100%{
    width:60%
  }
}@keyframes Python{
  0%{
    width:0%;
  }
  100%{
    width:55%
  }
}@keyframes Java{
  0%{
    width:0%;
  }
  100%{
    width:55%
  }
}
@keyframes PHP{
  0%{
    width:0%;
  }
  100%{
    width:50%
  }
}
.total{
  display: flex;
  flex-direction: column;
}

.total{
display: grid;
grid-template-columns: repeat(2,6fr);
grid-gap:20rem;
}
footer{
  margin-bottom: 10px;
}
h4{
  color: white;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin-left:50px;
}
footer h6{
  text-align: center;
  color: white;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
 }


.container{
  display: none;
}

@media (max-width:90.3rem){
  body{
    overflow-x: hidden;
    background-image:url("./images\ -\ Copy/1-5-image.jpg");
    background-attachment: fixed;
 }
  .skills{
    display: none;
  }
  .container{
    display:block;
  }
  .container figcaption{
    color: white;
  }
  .first img{
    padding: 10px;
    height: 150px;
    width:150px;
  }
  .second img{
    padding: 10px;
    height: 150px;
    width:150px;
  }
  .third img{
    padding: 10px;
    height: 150px;
    width:150px;
  }
  .fourth img{
    padding: 10px;
    height: 150px;
    width:150px;
  }
  .fifth img{
    padding: 10px;
    height: 150px;
    width:150px;
  }
  .sixth img{
    padding: 10px;
    height: 150px;
    width:150px;
  }


  #html{
    background-color: white;
    border: 5px solid black;
  }
  #css{
    background-color: white;
    border: 5px solid black;
  
  
  }
  #java_script{
    background-color: white;
    border: 5px solid black;
  
  }
  #NodeJs{
    background-color: white;
    border: 5px solid black;
  }
  #MYSQL{
    background-color: white;
    border: 5px solid black;
  }
  #MONGODB{
    background-color: white;
    border: 5px solid black;
  }
  #ReactJs{
    background-color: white;
    border: 5px solid black;
  }
  #express{
    background-color: white;
    border: 5px solid black;
  }
  #python{
    background-color: white;
    border: 5px solid black;
  }
  #C_C{
    background-color: white;
    border: 5px solid black;
  }
  #java,#PHP{
    background-color: white;
    border: 5px solid black;
  }


  footer{
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }

  #a{
    border: 2px solid black;
    padding: 5px;
    background-color: white;
  }
  #b{
    border: 2px solid black;
    padding: 5px;
    background-color: white;
  }
  #c{
    border: 2px solid black;
    padding: 5px;
    background-color: white;
  }
  #d{
    border: 2px solid black;
    padding: 5px;
    background-color: white;
  }
  #e{
    border: 2px solid black;
    padding: 5px;
    background-color: white;
  }
  #f{
    border: 2px solid black;
    padding: 5px;
    background-color: white;
  }
  #g{
    border: 2px solid black;
    padding: 5px;
    background-color: white;
  }
  #h{
    border: 2px solid black;
    padding: 5px;
    background-color: white;
  }
  #i{
    border: 2px solid black;
    padding: 5px;
    background-color: white;
  }
  .container .col span{
    color: white;
  }
}


























